@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Castle Windosr</h1>
    <p class="lead">Castle Windsor is a dependency injection container.</p>
    <p><a href="http://www.castleproject.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Snap</h2>
        <p>
            Snap helps you with the separation of concerns by easing the use of aspects.
        </p>
        <p><a class="btn btn-default" href="https://github.com/TylerBrinks/Snap">Learn more &raquo;</a></p>
    </div>
</div>